{% extends "base.html" %}
{% block import %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style-server.css') }}? version = 1.0" />
{% endblock %}
{% block title %}{{ TheServer[7] }}{% endblock %}
{% block content %}
    <a id="game_lien" href="{{ url_for('servers', game=TheGame[3]) }}">
        <article id="game" style="background-image:linear-gradient(rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.2)),url({{ url_for('static', filename='imgs/games-servers/banners/%s' %(TheGame[4])) }});">
            <section id="game_pres">
                {% if TheGame[6]==None: %}
                    <section id="game_logo" style="background-color: grey; background-image:url({{ url_for('static', filename='imgs/games-servers/logos/%s' %(TheGame[5])) }});"></section>
                {% else %}
                    <section id="game_logo" style="background-color: {{ TheGame[6] }}; background-image:url({{ url_for('static', filename='imgs/games-servers/logos/%s' %(TheGame[5])) }});"></section>
                {% endif %}
                <section id="game_info">
                    <section id="game_name">
                        {% if TheGame[2]==None: %}
                            <h2>{{ TheGame[1] }}</h2>
                        {% else %}
                            <h2>{{ TheGame[2] }}</h2>
                        {% endif %}
                    </section>
                    <section id="game_status">
                        <div id="game_online_{{ TheGame[7] }}"></div>
                        <h2 id="game_member"> {{ TheGame[8] }} en ligne</h2>
                    </section>
                </section>
            </section>
        </article>
    </a>

    <section id="server">
        <article id="server_header">
            <section id="server_info">
                {% if TheServer[10]==1: %}
                    <h2 id="server_info_text">{{ TheServer[7] }} <span class="online_{{ TheServer[10] }}">ONLINE</span></h2>
                {% else: %}
                    <h2 id="server_info_text">{{ TheServer[7] }} <span class="online_{{ TheServer[10] }}">OFFLINE</span></h2>
                {% endif %}
                <h3 id="server_info_text"><span class="online_1">{{ TheServer[11] }} </span> / {{ TheServer[12] }} Personnes</h3>
            </section>
            <a href="{{ url_for('servers', game=TheGame[3], server=TheServer[8], connection='connection' ) }}">
                <section id="server_join_{{ TheServer[10] }}">
                    <h2 id="server_join_text">REJOINDRE LE <span id="bold">SERVEUR</span></h2>
                </section>
            </a>
        </article>
        <section id="server_desc">
            <h2 id="title_desc">Description :</h2>
            <pre id="server_desc_text">{{ TheServer[9] }}</pre>
        </section>
    </section>
    {% block footer %}
        <script src="{{ url_for('static', filename='javascript/height.js') }}"></script>
    {% endblock %}
{% endblock %}