
#iframe
{
    display: inline-block;
    border: none;
    transition: 1s;
    /*transform: scale(5, 5);*/
}

#div_iframe
{
    background-color: #000000;
    width: 100%;
    transition: 1s;
    text-align: center;
}

#writting
{
    font-family: 'Open Sans', sans-serif;
}