html
{
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}


/*Header*/
header
{
  height: 8%;
  background: linear-gradient(to right,#00E9FF, #D51464);
  position: fixed;
  color: #ffffff;
  top: 0;
  z-index: 1;
  width: 100%;
  /*A REVOIR*/ box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
}

#menu
{
  position: absolute;
  top: 0;
}

#img
{
  transition: 1s;
  top: 0;
  border: none;
  background-color: transparent;
  background-image: url(../imgs/icons/menu.png);
  background-size: contain;
  overflow: hidden;
  background-position:center center;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

#img:hover
{
  background-image: url(../imgs/icons/menu-inv.png);
  transition: 1s;
}

#discord
{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#website_name
{
  display: block;
  text-align: center;
  margin: 0;
  top: 0;
}

#website_name_link
{
  transition: 1s;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
}

#website_name_link:hover
{
  transition: 1s;
  color: #000000;
}


/*MENU GAUCHE*/

.sidenav 
{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: /*60px*/ 4%;
}

.sidenav a {
  /*A revoir*/padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: /*25px*/ /*2.5vmin*/ 3vmin;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  /*A revoir*/right: 25px;
  /*A revoir*/font-size: 36px;
  /*A revoir*/margin-left: 50px;
}

#requette
{
    text-align: left;
  background-color: rgb(176, 15, 17);
  color: #f2f2f2;
    border: none;
  border-radius: 3px;
  width: 100%;
    /*A revoir*/padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: /*25px*/ /*2.5vmin*/ 3vmin;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#requette:hover
{
  background-color: rgb(235, 20, 22);
  color: #f1f1f1;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/

/*MENU GAUCHE FIN*/

#website_name_en
{
  top: 0;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

#website_name_jp
{
  top: 0;
  margin-top: 0;
  font-family: 'Noto Serif JP', serif;
  font-weight: 700;
}

#copyright
{
  display: none;
  position: fixed;
  padding-left: 1%;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  color: #808080;
  font-size: 1.25vmin;
}